{% extends "base.html" %}

{% block content %}
<div class="col-md-12 no-col-gutters" style="margin-bottom: 5px;">
    <div class="row">
        <h3>Create an Ad</h3>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            {{ form }}
        </div>
        <button type="submit" class="btn btn-success">Login</button>
    </form>

    <div class="row">
    </br>
        <h3>Or <a href="{% url 'buy_sell_signup' %}">Sign Up</a></h3>
    </div>
</div>
{% endblock content %}